#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh;*/
  }
  
  canvas {
    background-color: #000;
    border: 1px solid #fff;
    width: 90vw;
    max-width: 400px;
    height: 90vw;
    max-height: 400px;
  }
  
  #settings {
    margin-top: 10px;
  }
  
  #score {
    margin-bottom: 10px;
  }
  
  #message {
    margin-top: 10px;
  }
  
